.file-field {
  position: relative;
}
.file-field_group {
  display: table-cell;
  position: relative;
  padding: 24px 32px;
  background-color: #fff;
  border: 1px dashed;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s;
  vertical-align: middle;

  .ten-icon {
    font-size: 2rem;
    vertical-align: middle;
  }

  &:hover {
    color: $primary-color;
  }

  input[type='file'] {
    position: absolute;
    left: -50%;top: -50%;
    width: 200%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
  }
}

.file-field_view {
  display: table-cell;
  padding: 24px 32px;
  background-color: #fff;
  border: 1px solid map_get($grey, 'lighten-3');
  border-radius: 5px;
  vertical-align: middle;
  position: relative;
  left: 16px;
  &.file-field_isimg {
    padding: 8px;
  }
}

.file-field_img {
  width: 100%;
}
