$select-btn-w:40px;
$select-radius:5px;

.select {
  position: relative;
  &.active {
    .select-label_arrow {
      transform: rotate(180deg);
    }
    .select-opation {
      visibility: visible;
      opacity: 1;
      transform: translate(0,0);
      height: auto;
    }
  }
  @include user-select(none);
}

.select-label {
  padding: 8px 16px;
  border:1px solid map_get($grey, 'lighten-2');
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.select-label_arrow {
  transition: all .3s;
}

.select-opation {
  position: absolute;
  width: 100%;left: 0;
  background-color: #fff;
  margin: 0;
  border:1px solid map_get($grey, 'lighten-2');
  visibility: hidden;
  opacity: 0;
  height: 0;
  transform: translate(0,10%);
  transition: transform 0.2s,opacity 0.2s;
  overflow-y: auto;
  z-index: 999;
}

.select-opation_item {
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    background-color: map_get($grey, 'lighten-4');
  }
  &.active {
    background-color: $primary-color;
    color: #fff;
  }
  &.disabled {
    cursor: no-drop;
    background-color: map_get($grey, 'lighten-4');
  }
}
