.tree {
  @include clearfix;
  padding: 0;margin: 0;
}
.tree-node {
  cursor: pointer;
  overflow: hidden;
  @include user-select(none);
  .material-icons {
    vertical-align: middle;
  }
  &.active {
    > .tree-node_title .tree-node_arrow {
      transform: rotate(180deg);
    }
    > .tree-node_child {
      max-height: 180px;
    }
  }
}
.tree-node_title {
  position: relative;
}
.tree-node_icon {
  font-size: 1rem;
  margin-top: -3px;
}
.tree-node_label {
  display: inline-block;
  vertical-align: middle;
}
.tree-node_arrow {
  float: right;
  font-size: 1.2rem !important;
  margin-top: 3px;
  transition: all 0.2s;
}
.tree-node_child {
  max-height: 0;
  transition: max-height 0.2s;
}
