.page-btn {
  display: inline-block;
  vertical-align: middle;

  &.waves-effect {
    cursor: pointer;
  }

  &.normal {
    background: none;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}
