@mixin left-half(){
  left: 50%;
  transform: translate(-50%, 0);
}
@mixin top-half(){
  top: 50%;
  transform: translate(0,-50%);
}

.toast {
  position: fixed;
  z-index: 9999;
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.2s;
  &.info {
    background-color: $secondary-color;
    color: #fff;
  }
  &.t {
    @include left-half;
    top: 16px;
  }
  &.b {
    @include left-half;
    bottom: 16px;
  }
  &.l {
    @include top-half;
    left: 16px;
  }
  &.r {
    @include top-half;
    right: 16px;
  }
  &.lt {
    left: 16px;
    top: 16px;
  }
  &.lb {
    left: 16px;
    bottom: 16px;
  }
  &.rt {
    right: 16px;
    top: 16px;
  }
  &.rb {
    right: 16px;
    bottom: 16px;
  }
  &.cc {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
