.theme-dft {
  .jmtree-label-wrap {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s;
    padding: 0 $gutter*2;
    &.active,&:hover {
      background-color: $color-page-select-bg;
      color: $color-font-base;
    }
    .jmtree-label-icon {
      margin-right: $gutter;
    }
    //color: $color-grey-d3;
    font-size: $nav-font-size;
  }
  // table
  &.table {
    td, th {
      padding: 0;
      height: 50px;
      border-radius: 0;
    }
    thead {
      border: none;
    }
  }
  //switch
  &.switch {
    .__icon {
      background-color: $switch-bg;
      border-color: $switch-bg;
      &:before {
        background-color: $switch-bar-bg;
      }
    }
  }
  // checkbox
  &.checkbox {
    .__icon {
      background-color: $color-checkbox-bg;
      border-color: $color-checkbox-bg;
    }
  }
  // btn
  &.btn[class*='_bg'] {
    padding: 0 $gutter*2;
    &:before {
      content: ' ';
      position: absolute;
      width: 100%;height: 100%;
      left: 0;top: 0;
      background-color: rgba(0,0,0,0.2);
      transition: all 0.2s;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &.btn:not([class*='_bg']):not([class*='_txt']):not([class*='active']) {
    &:hover {
      color: $color-primary;
    }
  }
  &.btn[class*='_txt'] {
    &:hover {
      color: #fff;
    }
  }
  // toast
  &.popper-toast {
    background-color: #000;
  }
  // btn-group
  &.btn-group {
    background-color: $color-panel-bg;
  }
  // radio
  &.label-inp-group .__icon {
    margin-right: $gutter*0.8;
    background-color: #899ab6;
    border-color: #899ab6;
  }
}

//// d3-scale
//.d3-scale-text {
//  font-size: 1.8rem;
//  text-anchor: middle;
//  dominant-baseline: middle;
//}
//.d3-scale-svg {
//  width: 100%;
//  height: 100%;
//  margin-bottom: $gutter*2;
//}
//.d3-scale-bg {
//  fill: $color-yellow-l;
//}
//.d3-scale-pg {
//  fill: $color-primary;
//}
//// d3-line
//.d3-line-svg {
//  width: 100%;
//  height: 100%;
//}
//.d3-line-path {
//  fill: orange;
//}
//.d3-line-x,.d3-line-y {
//  path {
//    stroke: $color-font-base;
//  }
//}
//// d3-pie
//.d3-pies-svg {
//  width: 100%;
//  height: 100%;
//  margin-bottom: $gutter*2;
//}
//.d3-pies-path {
//  stroke-width: 5px;
//  stroke: $color-panel-bg;
//}
//.d3-pies-label-wrap {
//  text-align: center;
//}
//.d3-pies-label {
//  display: inline-block;
//  margin-right: $gutter*2;
//  > span {
//    display: inline-block;
//    vertical-align: middle;
//    margin-bottom: $gutter;
//  }
//}
//.d3-pies-icon {
//  width: $gutter*2;height: $gutter*2;
//  border-radius: $gutter;
//  margin-right: $gutter;
//}
//.d3-pies-text {
//  text-anchor: middle;
//  //dominant-baseline: middle;
//}
