.mini-ctrl {
  font-size: $nav-font-size;
  margin-bottom: $gutter;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    color: $color-nav-hover;
  }
}

//.panel-form-list {
//  margin-bottom: $gutter*2;
//  .row {
//    display: table-row;
//  }
//  .col {
//    display: table-cell;
//    .__content {
//      background-color: $color-page-select-bg;
//      //padding: $gutter*2;
//    }
//  }
//  input {
//    border: 1px solid transparent;
//    background: none;
//    width: 100%;
//    padding: $gutter*2;
//    color: $color-font-base;
//    background-color: $color-page-select-bg;
//    &:focus {
//      border-color: currentColor;
//    }
//  }
//}

.comb-msg {
  background-color: #2f3543;
  font-size: 1rem;
  .popper-body {
    padding: $gutter*4;
    border-bottom:1px solid #262a35;
  }
  .popper-foot {
    padding: $gutter $gutter*4;
    .btn {
      margin-left: $gutter*3;
      font-size: 1rem;
      &:hover {
        color: #fff;
      }
    }
  }
}

.list-table {
  width: calc(100% - 16px);
  margin: 0 auto;
  tr {
    border-bottom: 1px solid #2b2f3a;
  }
  td {
    padding: 14px 16px;
  }
}

.add-table {
  border-collapse: separate;
  border-spacing: 8px 16px;
  width: calc(100% - 16px);
  margin: 0 auto;
  > tbody > tr > td {
      background-color: $color-page-select-bg;
      height: 50px;
  }
  > tfoot > tr> td {
    height: 40px;
  }
  input {
    border: 1px solid transparent;
    background: none;
    width: 100%;
    padding: $gutter*2;
    color: $color-font-base;
    background-color: $color-page-select-bg;
    &:focus {
      border-color: currentColor;
    }
  }
  .btn-group {
    margin: $gutter*2 0;
  }
}

.line-50 {
  height: 50px;
  line-height: 50px;
}
.striped_bg {
  background-color: $color-striped-bg;
}
.pad-table {
  th,td {
    padding-left: $gutter*2 !important;
  }
}

// 左右
.lay-left-right {
  margin-bottom: 8px;
  &:after{
    content: ' ';
    display: block;
    clear: both;
  }
  [class^='lay'] {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
  }
}
.lay-left {
  width: 140px;
}
.lay-right {
  width: calc(100% - 140px);
}
.lay-border {
  border:1px solid rgba(255,255,255,0.1);
}
.lay-border-bottom {
  border-bottom:1px solid rgba(255,255,255,0.1);
}
.lay-bg {
  background-color: $color-striped-bg;
}

.inp-editor {
  display: block;
  width: calc(100% + 32px);
  height: 100%;
  border: none;
  background: none;
  color: $color-font-base;
  font-size: 0.7rem;
  margin: 0 -16px;
  padding: 0 16px;
  &.editor {
    background-color: $color-striped-bg;
  }
  &[disabled] {
    opacity: 1;
  }
}
