.page-top {
  height: 50px;
  line-height: 46px;
  background-color: $color-app-left-bg;
  padding-left: $gutter*2;
}

.page-pad {
  padding: $gutter*2;
  padding-bottom: 0;
}

// 机器列表
.page-machines {
  .pages {
    position: absolute;
    width: 100%;
    left:0;bottom: 0;
    background-color: $color-panel-bg;
    .page-btn {
      text-align: center;
      border-radius: 0;
      color: $color-font-base;
      &.active {
        background-color: $color-page-select-bg;
      }
    }
  }
}
// 机器详情
.page-machine-detail {
  .icon {
    font-size: 1rem;
  }
  .editor-btn-group {
    .btn {
      padding: 0;
    }
  }
}
.mdc-chart {
  .panel-title {
    background-color: transparent;
  }
}
.mcd-ctrl-group {
  text-align: justify;
  .btn {
    padding: 0;
  }
}
.mcd-ctrl-item {
  display: inline-block;
}
.cpu-line {
  .d3-line-path {
    fill: #52b3b8;
  }
}
.mem-line {
  .d3-line-path {
    fill: #fc6a6a;
  }
}
.block-table {
  td,th {
    padding: 0 $gutter*2;
  }
}


.page-app-detail {
  .btn-group {
    .btn {
      float: left;
      word-spacing: normal;
      min-width: 100px;
    }
  }
  .panle-body {
    padding: $gutter*2;
  }
  .data-tip-label {
    background-color: $color-striped-bg;
    padding: $gutter*2;
  }
  .tip-wrap {
    margin-bottom: $gutter*2;
    line-height: normal;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-project-add {
  .__table-content {
    padding: $gutter*2;
  }
  .table {
    th,td {
      padding: 0 $gutter*2;
    }
  }
}
