.page-top {
  height: 50px;
  line-height: 46px;
  background-color: $color-app-left-bg;
  padding-left: $gutter*2;
}

.page-pad {
  padding: $gutter*2;
  padding-bottom: 0;
}

// 机器列表
.page-machines {
  .pages {
    position: absolute;
    width: 100%;
    left:0;bottom: 0;
    background-color: $color-panel-bg;
    .page-btn {
      text-align: center;
      border-radius: 0;
      color: $color-font-base;
      &.active {
        background-color: $color-page-select-bg;
      }
    }
  }
}
// 机器详情
.page-machine-detail {
  .icon {
    font-size: 1rem;
  }
  .editor-btn-group {
    .btn {
      padding: 0;
    }
  }
}
.mdc-chart {
  .panel-title {
    background-color: transparent;
  }
}
.mcd-ctrl-group {
  text-align: justify;
  .btn {
    padding: 0;
  }
}
.mcd-ctrl-item {
  display: inline-block;
}
.cpu-line {
  .d3-line-path {
    fill: #52b3b8;
  }
}
.mem-line {
  .d3-line-path {
    fill: #fc6a6a;
  }
}
.block-table {
  td,th {
    padding: 0 $gutter*2;
  }
}


.page-app-detail {
  .btn-group {
    .btn {
      float: left;
      word-spacing: normal;
      min-width: 100px;
    }
  }
  .panle-body {
    padding: $gutter*2;
  }
  .data-tip-label {
    background-color: $color-striped-bg;
    padding: $gutter*2;
  }
  .tip-wrap {
    margin-bottom: $gutter*2;
    line-height: normal;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-project-add {
  .__table-content {
    padding: $gutter*2;
  }
  .table {
    th,td {
      padding: 0 $gutter*2;
    }
  }
  .btn-github {
    &.loading {
      background-color: transparent;
    }
  }
}

.page-project-detail {
  .add-table {
    td {padding: 0 $gutter*2}
  }
}

// page-build
.build-step {
  margin-bottom: $gutter*2 !important;
  li {
    float: left;
    padding: 0 $gutter*3;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #2b2f3a;
  }
}
.build-intro {
  position: relative;
  background-color: $color-striped-bg;
  border: 1px solid #2b2f3a;
  margin-bottom: $gutter*2 !important;
  height: 54px;
  overflow: hidden;
  &.open {
    height: auto;
    .build-intro__open-btn {
      transform: rotate(180deg);
    }
    .__txt {
      white-space: normal;
      overflow: auto;
    }
  }
  li {
    padding: 0 $gutter*2;
    margin: 16px 0;
    font-size: 0.7rem;
    &:after{
      display: block;
      content: "";
      clear: both;
    }
    .__icon {
      float: left;
      width: 6px;height: 6px;
      border-radius: 6px;
      background-color: #556278;
      margin-left: -100%;
      margin-top: 8px;
    }
    .__txt {
      float: left;
      padding-left: 16px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    //&:before {
    //  content: " ";
    //  display: inline-block;
    //  width: 6px;height: 6px;
    //  border-radius: 6px;
    //  background-color: #556278;
    //  margin-right: 16px;
    //  vertical-align: middle;
    //}
  }
}
.build-intro__open-btn {
  position: absolute;
  padding: 2px 8px !important;
  margin: 0 !important;
  background-color: #262a35;
  right: 8px;top: 8px;
  cursor: pointer;
  &:hover{
    background-color: #393f50;
  }
}
.build-form {
  .bg-cc {
    background-color: #1d212a;
  }
  .title {
    padding: $gutter*2 - 1.5px;
  }
  input {
    border: 1px solid transparent;
    background: none;
    width: 100%;
    padding: $gutter*2;
    color: $color-font-base;
    background-color: $color-page-select-bg;
    &:focus {
      border-color: currentColor;
    }
  }
  .branch {
    border: 1px solid #2b2f3a;
  }
  .radio {
    margin-right: 16px;
  }
}
.build-form__select-ver {
  .__ver {
    width: 150px;
    border: 1px solid #2b2f3a;
  }
  .__inp {
    width: calc(100% - 150px);
    border: 1px solid #2b2f3a;
  }
}
.ap-input-icon {
  display: none;
}
.ap-input, .ap-hint {
  height: 50px;
  line-height: 50px;
  border-radius: 0;
}

.page-deploy {
  .machines-table {
    th,td {
      padding-left: 16px;
    }
  }
}
