@import "variables.scss";
.head {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 32px 24px 32px;
  .article {
    font-size: 15px;
    padding-left: 20px;
    h5 {
      margin-top: 8px;
      font-size: 20px;
    }
    p {
      font-size: 15px;
      color: #bbb;
    }
    .alter-button {
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }
  .status {
    display: inline;
    float: left;
    margin-right: 32px;
  }
  .time {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
.hide {
  display: none;
}
.editable {
  max-width: 64%;
  border: 3px solid transparent;
  border-radius: 10px;
  outline: none;
}
.editable[contenteditable] {
  border: 3px solid #ddd;
  border-radius: 10px;
  &:focus {
    border-color: map_get($comb-colors, 'qingse');
  }
}

.table-details_btn {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.cluster-details {
  .panel {
    margin: 0;
    table {
      margin-bottom: 24px;
    }
  }
}
