@import "variables";

html {
  background-color: $border-color;
  font-family: "Arial","Microsoft JhengHei";
  color: #909090;
  font-size: $font-size-normal;
}
a {
  color: #909090;
}
// util
.vam {
  vertical-align: middle;
}

// 顶部导航
.top-nav {
  position: fixed;
  left: 0;top:0;
  width: 100%;
  height: $top-nav-h;
  line-height: $top-nav-h;
  background: url("./assets/top-nav_bg.gif") repeat-x;
  word-spacing: -6px;
  color: #fff;
  z-index: 889;
}
.top-nav_logo {
  display: inline-block;
  width: $left-nav-w;
  font-size: 24px;
  word-spacing: 0;
}
.top-nav_user {
  display: inline-block;
  word-spacing: 0;
  height: $top-nav-h;
  line-height: $top-nav-h;
  min-width: 150px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  transition: all 0.2s;
  &.active {

  }
  &:hover {
    background-color: rgba(0,0,0,0.2);
  }
}
.top-nav_user-img {
  display: inline-block;
  max-width: 30px;
  vertical-align: middle;
}
// 左侧导航
.left-nav {
  position: fixed;
  left: 0;top: $top-nav-h;
  width: 250px;height: 100%;
  background-color: #fff;
  z-index: 888;
}
// 内容容器
.view-box {
  margin-left: $left-nav-w;
  margin-top: $top-nav-h;
}

// 多级菜单
.tree {
  font-size: $font-size-title;
  font-weight: 400;
}
.tree-node_title {
  padding-left: $base-space * 2;
}

.tree-node {
  box-sizing: border-box;
  min-height: $tree-node-h;
  line-height: $tree-node-h;
  border-top: $tree-border-w solid transparent;
  border-bottom: $tree-border-w solid $border-color;
  transition: all 0.2s;
  &.active.empty {
    background-color: $border-color;
    border-top: 1px solid darken($border-color, 5%);
    border-bottom: 1px solid darken($border-color, 5%);
    .tree-node_link {
      color: map_get($comb-colors, 'qingse');
    }
  }
}
.tree-node_arrow {
  font-size: 1.6rem !important;
  margin-top: 18px;
  margin-right: $base-space * 2;
}
.tree-node_child {
  box-sizing: border-box;
  border-top: $tree-border-w solid $border-color;
}
/*.tree-node_link {
  padding-left: $base-space * 3;
}*/

// 面包屑
.crumbs {
  height: 60px;
  line-height: 60px;
  background-color: #f1f1f1;
  padding: 0 24px;
  margin-bottom: 16px;
}
.crumbs-item {
  position: relative;
  display: inline-block;
  padding-right: 8px;
  &:after {
    content: ">";
    margin-left: 8px;
  }
  &:last-child:after {
    content: "";
  }
}

// 内容
.v-content {
  padding: 0 24px;
}

// 弹窗
.comb-dialog {
  &.mini {
    .modal {
      width: 50%;
      max-width: 500px;
    }
  }
  .modal {
    border-radius: 10px;
    max-width: 780px;
    padding: 24px 24px 16px 24px;
  }
  .modal-header_title {
    color: map_get($comb-colors,'qingse');
    font-size: $font-size-title;
    font-weight: 700;
  }
  .modal-footer {
    .comb-btn {
      margin-right: 8px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
.comb-dialog_info {
  padding: 24px 0;
  &.large {
    font-size: 1.7rem;
    .material-icons {
      font-size: 3rem;
      margin-top: -8px;
    }
  }
  .material-icons {
    vertical-align: middle;
    margin-top: -2px;
  }
}
// 按钮
.comb-btn {
  @extend .btn;
  box-shadow: none;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  padding: 0;
}
// COMB表单
input,textarea {
  outline: none;
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border-color ease-in-out .3s;
  &:focus {
    border-color: map_get($comb-colors, 'qingse');
  }
}
textarea.form-control {
  height: auto;
}
.form-gird {
  @extend .row;
  .label-control {
    @extend .col;
    padding-top: 16px;
  }
}
