@import "./variables";

$hub-bg-c:darken($border-color, 8%);
.hub-if {
  position: fixed;
  left: $left-nav-w;top: $top-nav-h;
  width: 160px;height: 100%;
  background-color: $hub-bg-c;
  padding-top: 60px;
  .comb-btn {
    display: block;
    margin: 8px auto;
    background-color: $hub-bg-c;
    border: 1px solid darken($border-color, 16%);
    color: #909090;
    height: 32px;
    line-height: 30px;
    &.active {
      background-color: #fff;
    }
  }
}
.hub-box {
  padding-left: 160px;
}

h5 {
  font-size: 1rem;
  padding-left: 16px;
  margin: 0 0 16px 0;
}
