.head {
  .article {
    width: 100%;
    p {
      color: #848484;
      line-height: 16px;
    }
    .toggle-machine-status {
      .tips {
        margin-right: 8px;
      }
      .ten-icon {
        font-size: 32px;
      }
    }
    .machine-info {
      width: 100%;
      background-color: #f7f7f7;
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      div {
        float: left;
        margin-left: 8%;
        margin-right: 8%;
        text-align: center;
      }
    }
  }
}
.machine-details {
  .panel-tab {
    margin: 0;
  }
}
