.head {
  .article {
    width: 100%;
    p {
      color: #848484;
      line-height: 16px;
    }
    .machine-info {
      width: 100%;
      background-color: #f7f7f7;
      display: flex;
      display: -webkit-flex;
      flex-grow: row;
      padding-top: 8px;
      padding-bottom: 8px;
      div {
        width: 33%;
        text-align: center;
      }
    }
  }
}
table {
  tr, td {
    width: 25%;
  }
}
