@import "../../node_modules/jimu/src/stylesheets/variables.scss";

$border-color:#f8f8f8 !default;
$border-color-darken:#ebebeb !default;
$comb-colors:(
  'lvse': #48e498,
  'qingse': #4dd1de,
  'zise': #988fd8,
  'fense': #ff8e8c,
  'fense-l': #ff80ab,
  'huangse': #ffe174,
  'hongse': #ff8281,
  'lanse': #44cadc,
  'white': #fff
) !default;

$top-nav-h:60px;
$left-nav-w:250px;
$base-space:8px;

$tree-node-h:56px;
$tree-border-w:1px;

$font-size-normal: 14rem / 20;
$font-size-title: 16rem / 20;
$font-size-mini: 12rem / 20;
